@import './components/menu.scss';
@import './components/card.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-back);
}

:root {
  --grey-color: #4C5866;
  --middle-gray-color: #85859B;
  --light-gray-color: #C0C0C0;
  --gray-back: #F0F0F0;
  --blue-color: #7875FE;
  --white-color: #fff;
}

.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}

// Это можешь сделать либо через позиционирование или черз grid-container
.main {
  display: flex;
  flex-direction: row;
  height: 620px;
  background-color: var(--white-color);
  margin-bottom: 90px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}