.sm-btn {
    display: block;
    width: 144px;
    height: 50px;

    border: 1px solid var(--violet-color);
    color: var(--violet-color);
    font-size: 1.125rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}

.more_btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: var(--violet-color);
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 20px; /* Добавлено для сдвига кнопки вниз на 10 пикселей */

}

.more_btn p{
    font-family: 'Roboto', sans-serif;
}


@keyframes skew {
  from {
    transform: skew(0deg);
  }
  to {
    transform: skew(10deg);
  }
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: initial;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: var(--light-purple);
  animation: skew 0.5s ease-in-out infinite alternate;
}

button:active {
  background-color: var(--dark-purple);
}


  