.sm-btn {
    display: block;
    width: 144px;
    height: 50px;
    background: none;
    border: 1px solid var(--violet-color);
    color: var(--violet-color);
    font-size: 1.125rem;
    cursor: pointer;
}



.more_btn button{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--violet-color);
    cursor: pointer;
    font-size: 1.25rem;
}


.more_btn p{
    margin-right: 5px;
}