@media (min-width: 320px) {
    .catalog{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        background: var(--white-color);
        padding: 60px 15px 60px 15px;
    }
    .catalog_card{
        display: block;
        margin-top: 60px;

    }
    .catalog_card img {
        margin-bottom: 20px;
    }
    
    .catalog_card h2 {
        margin-bottom: 4px;
    }
    
    .catalog_card .font-sz-14-light {
        margin-bottom: 8px;
    }
}