@media (min-width: 320px) {
    .promo{
        display: block;
        height: 328px;
        padding: 49px;
        background: var(--white-color);
    }
    .promo_title {
        color: var(--dark-grey-color);
        font-size: 1.875rem; /* 30хч/16зч */
        font-style: normal;
        font-weight: 400;
        margin-bottom: 15px;
        width: 221px;
    }

    .promo_description{
        color: var(--middle-grey);
        font-size: 0.875rem; /* 14px/16px */
        font-style: normal;
        font-weight: 400;
        margin-bottom: 21px;
        width: 289px;
        line-height: 1.5;
    }
}