.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu__logo {
  display: block;
  width: 140;
  height: 22px;
}
.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 536px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_link {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--grey-color);
}
.menu_link:hover {
  color: var(--light-gray-color);
}
.menu__utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px;
  height: 24px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__devider {
  width: 100%;
  border: 0.5px solid;
  color: var(--light-gray-color);
  margin-bottom: 20px;
}
.card__img {
  margin-top: 20px;
  width: 160px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--gray-back);
}

:root {
  --grey-color: #4C5866;
  --middle-gray-color: #85859B;
  --light-gray-color: #C0C0C0;
  --gray-back: #F0F0F0;
  --blue-color: #7875FE;
  --white-color: #fff;
}

.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 620px;
  background-color: var(--white-color);
  margin-bottom: 90px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}