.dashboard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "linkss grafic";

}

.links{
    grid-area: linkss;
}

.graf{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-area: grafic;
}

.largbocks{
    grid-column: 1/-1;
}

.smallbocks{
    grid-column: span 2;
}

.mediumbocks{
    grid-column: span 3;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
    max-width: 100%;
    border-radius: 8px;
    justify-self: center;
    align-items: center;
}

.itemimg{
    grid-column: -1/1;
    grid-row-start: 1;
    max-width: 100%;
}

.itema{
    padding: 10px 20px;
    grid-column: -1/1;
    grid-row-start: 1;
}

:root {
    --white-color: #fff;
    --ligth-gray-color: #EBEBEB;
    --middle-grey: #85859B;
    --dark-grey-color: #4C5866;
    --violet-color: #7875FE;
    --light-purple: #dd9aff;
    --dark-purple: #dd1aff;
}


.menu {
    display: none;
}

.header {
align-self: center;
justify-self: center;
grid-column: span 2;
height: 105px;
background: var(--white-color);
}
.header__logo{
    width: 100%;
    height: 22px;
    margin: 11px;
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
}

.header__right{
    display: flex;
    width: 78px;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    
}

.footer {
    background-color: var(--dark-grey-color);
}

.header_back {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grey-color);
}

.header__logo2 {
    width: 100%;
    height: 22px;
    margin: 11px;
}

.frame_back {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.frame_back button {
    border: none;
}

.frame_back .framee {
    display: block;
    margin: 0 auto;
}

.front-back {
    text-align: center;
    color: var(--middle-grey);
    background-color: var(--white-color);
}
.header_back::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
}


body {
    background: var(--ligth-gray-color);
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}